<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="APP_IGNORING_FILES" value=".DS_Store;.DS_Store?;._*;.Spotlight-V100;.Trashes;ehthumbs.db;Thumbs.db" />
        <add key="APP_SRC" value="/Users/leochoi/Documents/Projects/FileSync/FileSync/tests/src" />
        <add key="APP_DEST" value="/Users/leochoi/Documents/Projects/FileSync/FileSync/tests/dest" />

        <add key="SHOULD_KEEP_REMOVED_FILES_IN_DEST" value="true" />
    </appSettings>
</configuration>