<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <!-- Basic -->
        <add key="APP_SRC" value="/Users/leochoi/src" />
        <add key="APP_DEST" value="/Users/leochoi/dest" />
        
        <!-- Comparer -->
        <add key="IGNORING_FILE_NAMES" value=".DS_Store;.DS_Store?;.Spotlight-V100;.Trashes;ehthumbs.db;Thumbs.db" />
        <add key="USE_DEEP_FILE_COMPARER" value="false" />

        <!-- Operation -->
        <add key="KEEP_REMOVED_FILES_IN_DEST" value="false" />
    </appSettings>
</configuration>